@model BLVGestao.Domain.Model.Pessoa
<div class="list-seperator"> </div>
<div class="list-seperator"> </div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Número</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Telefones)
        {
            <tr>
                <td>
                    @Html.DisplayFor(t => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(t => item.TipoTelefone)
                </td>
                <td>
                    <a asp-action="EditarTelefone" asp-route-id="@item.TelefoneId">Edit</a> |
                    <a asp-action="DeletarTelefone" asp-route-id="@item.TelefoneId">Delete</a>
                </td>

            </tr>
        }
    </tbody>

    <thead>
        <tr>
            <th>LOGRADOURO</th>
            <th>NUMERO</th>
            <th>BAIRRO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enderecos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(t => item.Logradouro)
                </td>
                <td>
                    @Html.DisplayFor(t => item.Numero)
                </td>
                <td>
                    @Html.DisplayFor(t => item.Bairro)
                </td>
                <td>
                    <a asp-action="EditarTelefone" asp-route-id="@item.EnderecoId">Edit</a> |
                    <a asp-action="DeletarTelefone" asp-route-id="@item.EnderecoId">Delete</a>
                </td>

            </tr>
        }
    </tbody>
</table>