@model BLVGestao.Domain.Model.Pessoa

<div class="content-header container-fluid row mb-2 col-sm-6">
    <h1 class="m-0 text-dark">Telefones</h1>
    <br />
    <button class="float-right">
        <a class="fa fa-plus" asp-route-id="@Model.PessoaId" asp-controller="Telefone" asp-action="Create">NovoTelefone </a>
    </button>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Número</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Telefones)
        {
            if (item.Ativo == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(t => item.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(t => item.TipoTelefone)
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning fa fa-pencil">
                            <a class="text-white text-decoration-none" asp-action="Edit" asp-route-id="@item.TelefoneId">Editar</a>
                        </button>
                        <button type="button" class="btn btn-danger fa fa-trash">
                            <a class="text-white text-decoration-none" asp-action="Delete" asp-route-id="@item.TelefoneId">Excluir</a>
                        </button>
                    </td>

                </tr>
            }


        }
    </tbody>
</table>


<div class="content-header container-fluid row mb-2 col-sm-6">
    <h1 class="m-0 text-dark">Endereços</h1>
    <br />
    <button class="float-right">
        <a class="fa fa-plus" asp-route-id="@Model.PessoaId" asp-controller="Endereco" asp-action="Create">Novo Endereco </a>
    </button>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>LOGRADOURO</th>
            <th>NUMERO</th>
            <th>BAIRRO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Enderecos)
        {
            if (item.Ativo == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(t => item.Logradouro)
                    </td>
                    <td>
                        @Html.DisplayFor(t => item.Numero)
                    </td>
                    <td>
                        @Html.DisplayFor(t => item.Bairro)
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning fa fa-pencil">
                            <a class="text-white text-decoration-none" asp-action="Edit" asp-route-id="@item.EnderecoId">Editar</a>
                        </button>
                        <button type="button" class="btn btn-danger fa fa-trash">
                            <a class="text-white text-decoration-none" asp-action="Delete" asp-route-id="@item.EnderecoId">Excluir</a>
                        </button>
                    </td>

                </tr>
            }

        }
    </tbody>
</table>

