
@model IEnumerable<BLVGestao.Domain.Model.Cliente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header container-fluid row mb-2 col-sm-6">
    <h1 class="m-0 text-dark">Clientes</h1>
    <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Codigo" aria-label="Codigo">
        <input class="form-control form-control-navbar" type="search" placeholder="Nome" aria-label="Nome">
        <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
        </button>

    </div>
    <button class="btn btn-outline-success">
        <a class="fa fa-plus" asp-action="Create">&emsp;Novo</a>
    </button>
</div>



<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Nome
            </th>
            <th>
               Data de Nasc.
            </th>
            <th>
                CFP
            </th>
            <th>
                RG
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PessoaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rg)
            </td>
            <td>
                <button type="button" class="btn btn-warning fa fa-pencil">
                    <a class="text-white text-decoration-none" asp-action="Edit" asp-route-id="@item.PessoaId">Editar</a>
                </button>
                <button type="button" class="btn btn-info fa fa-search">
                    <a class="text-white text-decoration-none" asp-action="Details" asp-route-id="@item.PessoaId">Detalhes</a>
                </button>
                <button type="button" class="btn btn-danger fa fa-trash">
                    <a class="text-white text-decoration-none" asp-action="Delete" asp-route-id="@item.PessoaId">Excluir</a>
                </button>
            </td>
        </tr>
        }
    </tbody>

</table>
