@model IEnumerable<BLVGestao.Domain.Model.Fornecedor>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header container-fluid row mb-2 col-sm-6">
    <h1 class="m-0 text-dark">Fornecedores</h1>
    <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Codigo" aria-label="PessoaId ">
        <input class="form-control form-control-navbar" type="search" placeholder="Razao Social" aria-label="RazaoSocial">
        <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
        </button>

    </div>
    <button class="btn btn-outline-success">
        <a class="fa fa-plus" asp-action="Create">&emsp;Novo</a>
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Razão Social
            </th>
            <th>
                Nome Fantasia
            </th>
            <th>
                CNPJ
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PessoaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazaoSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cnpj)
                </td>
                <td>
                    <button type="button" class="btn btn-warning fa fa-pencil">
                        <a class="text-white text-decoration-none" asp-action="Edit" asp-route-id="@item.PessoaId">Editar</a>
                    </button>
                    <button type="button" class="btn btn-info fa fa-search">
                        <a class="text-white text-decoration-none" asp-action="Details" asp-route-id="@item.PessoaId">Detalhes</a>
                    </button>
                    <button type="button" class="btn btn-danger fa fa-trash">
                        <a class="text-white text-decoration-none" asp-action="Delete" asp-route-id="@item.PessoaId">Excluir</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
