@model IEnumerable<BLVGestao.Domain.Model.ContaReceber>
@{
    ViewData["Title"] = "RelatorioContasReceber";


}


<div class="content-header container-fluid row mb-2 col-sm-6">
    <form action="Listar" method="post">
        <h1 class="m-0 text-dark">Consulta de Contas  a Receber</h1>
        <div class="input-group input-group-sm">

            <input class="form-control form-control-navbar" type="search" name="filtro" placeholder="Digite a busca" aria-label="Filtro">

            <label class="control-label"></label>

            <select name="campo">
                <option value="Compra">DataCompra</option>
                <option value="Vencimento">DataVencimento</option>
                <option value="CodigoCliente">ClienteId</option>
                <option value="Cliente">Cliente</option>
                
            </select>

            <button class="btn btn-primary" type="submit" value="Listar">
                Buscar
            </button>
            <button class="btn btn-primary" onclick="createPDF()">
                ExportarParaPDF
            </button>
        </div>
    </form>

</div>
<div id="tab">
    <table class="table" id="dataTable">
        <thead>
            <tr>
                <th>
                    ClienteID
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Pedido
                </th>
                <th>
                    Data Compra
                </th>
                <th>
                    Data Vencimento
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    DateTime data = item.Venda.Data;
                    data = data.AddDays(30);
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClienteId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cliente.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorTotal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VendaId)
                        </td>
                        <td>
                             @Html.DisplayFor(modelItem => item.Venda.Data)
                        </td>
                       <td>
                           @data
                       </td>
                    </tr>
                }}

        </tbody>

    </table>
</div>
<script>
    function createPDF() {
        var sTable = document.getElementById('tab').innerHTML;

        var style = "<style>";
        style = style + "table {width: 100%;font: 17px Calibri;}";
        style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
        style = style + "padding: 2px 3px;text-align: center;}";
        style = style + "</style>";


        var win = window.open('', '', 'height=700,width=700');

        win.document.write('<html><head>');
        win.document.write('<title>Produtos</title>');
        win.document.write(style);
        win.document.write('</head>');
        win.document.write('<body>');
        win.document.write(sTable);
        win.document.write('</body></html>');

        win.document.close();

        win.print();
    }
</script>


